.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.write-post {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #ccc;
}

.empty {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.settings {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  > div, > button, > input {
    margin: 10px 0;
    margin-right: 20px;
  }
}

.address-input {
  border: 1px solid #ccc;
  padding: 5px;
  width: 400px;
}

.error-message, .success-message {
  background: #fefefe;
  border: 1px solid red;
  margin: 20px 0;
  font-size: 14px;
  padding: 20px;

  i {
    color: red;
    font-size: 16px;
    margin-right: 5px;
  }
}

.success-message {
  border-color: green;
  i {
    color: green;
  }
}

.title-section {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  label {
    margin-right: 10px;
  }
}

.rdw-editor-main {
  border: 1px solid #eee;
  margin: 10px 0;
  min-height: 100px;
}

.post {
  box-shadow: 1px 3px 1px 1px #ccc;
  padding: 30px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  margin: 30px 0;
  padding: 10px;

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .links {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;

    a {
      margin-right: 10px;
    }
  }
}
